
           header{
            background-color: lightcoral;
            width:42%;
            height:50px;
           }
            footer{
                background-color: lightcoral;
                width: 42%;
                height: 50px;
            }
            #een{
                background-color: aquamarine;
                color: black;
            }
            #twee{
                background-color:crimson;
                color: black;
            }
            #drie{
                background-color: lightsalmon;
                color: black;
            }
            #vier{
                background-color:darkorchid;
                color: black;
            }
            #vijf{
                background-color: lightgreen;
                color: black;
            }
            #zes{
                background-color:cadetblue;
                color: black;
            }
            #zeven{
                background-color: lightpink;
                color: black;
            }
            #acht{
                background-color: cornflowerblue;
                color: black;
            }
            

